{% extends "base.html" %}
{% load static %}

{% block nav_items %}
  <li class="nav-item"><a class="nav-link fw-semibold" href="">Mis Propiedades</a></li>
  <li class="nav-item"><a class="nav-link fw-semibold" href="{% url 'core:ayuda' %}">Ayuda</a></li>
  
{% endblock %}

{% block content %}
<div class="cards-wrap">

 <div class="card" style="width: 25rem;">
  <img class="card-img-top" src="{% static 'img/crear-prop.jpg' %}" alt="propiedad">
  <div class="card-body">
    <p class="card-text">Propiedad 1</p>
    <button class="btn btn-primary" type="button"><a href="{% url 'core:propiedadform' %}">Ingresar</a></button>
  </div>
 </div>

 <div class="card" style="width: 25rem;">
  <img class="card-img-top" src="{% static 'img/propiedad-reg.jpeg' %}" alt="editar">
  <div class="card-body">
    <p class="card-text">Propiedad 2</p>
    <button class="btn btn-primary" type="button"><a href="">Editar</a></button>
  </div>
 </div>

 <div class="card" style="width: 25rem;">
  <img class="card-img-top" src="{% static 'img/ver-prop.jpeg' %}" alt="ver">
  <div class="card-body">
    <p class="card-text">Propiedad 3</p>
    <button class="btn btn-primary" type="button">Verificar</button>
  </div>
 </div>

</div>





{% endblock %}