{% extends "base.html" %}
{% load static %}

{% block nav_items %}
  <li class="nav-item"><a class="nav-link fw-semibold" href="{% url 'core:main-registrado' %}">Inicio</a></li>
  <li class="nav-item"><a class="nav-link text-danger" href="{% url 'core:logout' %}" onclick="return confirm('¿Desea cerrar la sesion?')">Cerrar Sesion</a></li>
  
{% endblock %}

{% block title %}Mis propiedades{% endblock %}
{% block content %}

<!--CAMBIAR ESTE CODIGO A ARCHIVO CSS MAS ADELANTE!!-->
<style>
.cards-wrap{
  display:flex;
  flex-wrap:wrap;
  gap:16px;                 /* separación de cards */
}

.cards-wrap .card{ width:18rem; }

.card-img-top{ height:160px; object-fit:cover; }

</style>


<div class="cards-wrap">

 <div class="card" style="width: 25rem;">
  <img class="card-img-top" src="{% static 'img/crear-prop.jpg' %}" alt="propiedad">
  <div class="card-body">
    <p class="card-text">Crear una nueva propiedad</p>
    <a class="btn btn-primary" href="{% url 'core:createform' %}">Crear</a></button>
  </div>
 </div>
 
 <div class="card" style="width: 25rem;">
  <img class="card-img-top" src="{% static 'img/ver-prop.jpeg' %}" alt="ver">
  <div class="card-body">
    <p class="card-text">Editar Propiedades</p>
    <a class="btn btn-primary" href="{% url 'core:misprop' %}">Editar</a></button>
  </div>
 </div>

 <div class="card" style="width: 25rem;">
  <img class="card-img-top" src="{% static 'img/propiedad-reg.jpeg' %}" alt="editar">
  <div class="card-body">
    <p class="card-text">Ver Propiedades</p>
    <a class="btn btn-primary" href="{% url 'core:ver_propiedades' %}">Ingresar</a></button>
  </div>
 </div>

</div>

{% endblock %}